<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#DB0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <title>HungerApps</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Hunger<span>Apps</span></h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li class="nav__item"><a href="#">Home</a></li>
                <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/muhammad-razin-syakib-765660224/">About
                        Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">HungerApps</h1>
            <p class="hero__tagline">It's not just looking for some restaurant, it's about experience</p>
        </div>
    </div>
    <main id="mainContent" tabindex="0"></main>
    <footer>
        Copyright © 2020 - Hunger Apps
    </footer>
</body>

</html>